html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A1C181;
}

.heading {
    color: black;
    font-size: 100px;
    background-color: antiquewhite
}

.curiousgeorge {
    height: 499px;
}

.text {
    text-align: center;

}

h3 {
    color: antiquewhite
}